@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  max-width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  border-width: 0;
  height: 36px;
  padding: 0;
}

.button-large {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  height: 52px;
  padding: 8px 50px;
}

.button-blue {
  background-color: #82b3d3;
}

.button-brown {
  background-color: #756157;
}

.button-transparent {
  background-color: rgba(0, 0, 0, 0);
}

.button-green {
  background-color: #7DB54F;
}


.page-header {
  background-color: #ffffff;
  display: flex;
  padding: 0 70px;
}

.page-header-logo-link {
  width: 140px;
  display: block;
  margin: 0 24px -10px 0;
}

.navigation-list {
  max-width: 464px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
  color: #000000;
  text-decoration: none;
}

.user-menu {
  display: flex;
  flex-wrap: wrap;
  max-width: 312px;
  margin-left: auto;
}

.user-menu-link {
  min-width: 20px;
  min-height: 20px;
}

.user-menu-link.button {
  display: block;
  width: 160px;
  height: 36px;
  padding: 8px 34px;
  margin: auto 0;
}

.main-index {
  background-color: #ffffff;
  flex-grow: 1;
}

.intro {
  background-color: rgba(131, 179, 211, 0.2);
  background-image: url("../images/background/index-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 51px 50px 82px 50px;
  position: relative;
  margin-bottom: 69px;
}

.intro::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 57px;
  background-image: url("../images/svg/divider.svg");
  background-repeat: no-repeat;
}

.intro-image {
  display: block;
  margin: 0 auto;
}

.reasons {
  text-align: center;
}

.reasons-title {
  width: 620px;
  margin: 0 auto 25px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.reasons-subtitle {
  width: 651px;
  margin: 0 auto 90px;
  color: #333333;
}

.reasons-card {
  display: flex;
  color: #ffffff;
  background-color: #82b3d3;
}

.reasons-card-content {
  width: 400px;
}

.reasons-description-title {
  width: 175px;
  margin: 0 auto 62px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.reasons-description {
  width: 230px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 21px;
}

.reasons-card-content .reasons-description-title {
  margin-top: 92px;
}

.reasons-card-content .reasons-description {
  margin-bottom: 111px;
}

.reasons-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.reasons-item {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list .reasons-description-title {
  margin-top: 103px;
}

.advantages-list .reasons-description {
  margin-bottom: 121px;
}

.advantages-list .reasons-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.recommendations-list .reasons-item:nth-child(even) {
  background-color: #ffffff;
}

.reasons-item .reasons-description {
  color: #333333;
}

.recommendations-list .reasons-description-title {
  margin: 182px auto 30px;
}

.recommendations-list .reasons-description {
  margin-bottom: 81px;
}

.recommendations-list {
  margin-bottom: 96px;
}

.interested {
  text-align: center;
}

.interested-title {
  width: 297px;
  margin: 0 auto 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.interested-subtitle {
  width: 592px;
  margin: 0 auto 54px;
  color: #333333;
}

.interested-link {
  width: 376px;
  margin: 0 auto 96px;
}

.subscribe {
  background-color: #82b3d3;
  background-image: url("../images/background/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  padding: 96px 50px 104px 50px;
}

.subscribe-title {
  width: 404px;
  margin: 0 auto 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-subtitle {
  width: 475px;
  margin: 0 auto 54px;
}

.subscribe-form {
  width: 684px;
  margin: 0 auto;
  display: flex;
}

.email-field {
  width: 452px;
  border-width: 0;
  margin: 0;
  padding: 14px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  background-color: #f2f2f2;
  color: #000000;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.subscribe-button {
  width: 232px;
  border-width: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin: 0;
  padding: 0;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 45px 70px 35px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 148px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 47px;
  height: 40px;
}

.footer-phone-number {
  max-width: 350px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.footer-copyright-link {
  width: 115px;
  padding: 4px 0;
}

.main-inner {
  background-color: #ffffff;
  flex-grow: 1;
}

.catalog-filter {
  padding: 35px 70px 73px;
  background-color: #82b3d3;
  background-image: url("../images/background/filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  margin-bottom: 50px;
}

.inner-header-title {
  margin: 0 0 8px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  text-align: left;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 40px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
  margin-right: 29px;
}

.catalog-filter-form {
  display: flex;
}

.catalog-filter-infrastructure {
  width: 151px;
  margin: 0 70px 0 0;
  padding: 0;
  border-width: 0;
}

.catalog-filter-housing {
  width: 160px;
  margin: 0 126px 0 0;
  padding: 0;
  border-width: 0;
}

.catalog-filter-price {
  width: 288px;
  margin: 0 70px 0 0;
  padding: 0;
  border-width: 0;
}

.catalog-filter-buttons {
  width: 191px;
  margin-bottom: 5px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
  padding: 0;
  margin-bottom: 32px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 16px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.label-price {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: right;
  color: #000000;
}

.input-price {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
  color: #000000;
  border-width: 0;
  padding: 0;
}

.price-from {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.price-to {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.catalog-filter-range {
  margin: 48px 0 5px;
}

.catalog-filter-buttons {
  align-self: end;
}

.catalog-button-submit {
  width: 191px;
  padding: 0;
  border-width: 0;
  margin-bottom: 40px;
}

.catalog-button-reset {
  width: 191px;
  padding: 0;
  border-width: 0;
}

.catalog-sort {
  width: 1060px;
  margin: 0 auto 40px;
  display: flex;
  align-items: center;
}

.hotels-found {
  min-width: 338px;
  margin: 0 auto 0 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

.select-control {
  width: 292px;
  height: 49px;
  margin-right: 70px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
  color: #333333;
  align-self: flex-start;
}

.hotel-card-view-list {
  width: 160px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.hotel-card-view-item {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.hotel-card-view-item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.hotel-card-view-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-list {
  width: 1060px;
  margin: 0 auto;
}

.hotel-list {
  margin: 0 0 80px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotel-card {
  width: 340px;
  min-height: 438px;
  border: 1px solid #e6e6e6;
  padding: 20px;
  border-radius: 4px;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-align: left;
}

.hotel-card-type {
  display: block;
  width: 140px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: left;
}

.hotel-card-price {
  display: block;
  width: 140px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: right;
}

.hotel-card-button {
  width: 140px;
}

.hotel-card-stars {
  display: block;
  width: 140px;
  height: 37px;
}

.hotel-card-rating {
  display: block;
  width: 140px;
  height: 37px;
  background-color: #f2f2f2;
  color: #333333;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  border-radius: 4px;
  padding: 9px 22px 8px 23px;
}

.pagination {
  margin: 0 0 60px;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.pagination-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #82b3d3;
  border-radius: 4px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-current-item {
  background-color: #f2f2f2;
}

.pagination-item-space {
  background-color: #ffffff;
}

.pagination-link {
  display: block;
  margin: auto;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: #ffffff;
}

.pagination-current-link {
  color: #000000;
}

.pagination-space {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
}

.subscribe-catalog {
  text-align: center;
  padding: 96px 50px 104px 50px;
}

.subscribe-catalog .subscribe-subtitle {
  color: #333333;
}
