@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  max-width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  min-height: 36px;
  padding: 8px 18px;
  cursor: pointer;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-large {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  min-height: 52px;
  padding: 8px 50px;
  border: none;
  cursor: pointer;
}

.button-large:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-blue {
  background-color: #82b3d3;
}

.button-blue:hover {
  background-color: #68A2CA;
}

.button-blue:focus {
  background-color: #68A2CA;
}

.button-blue:active {
  background-color: #82b3d3;
}

.button-blue:disabled {
  background-color: #E5E5E5;
}

.button-brown {
  background-color: #756157;
}

.button-brown:hover {
  background-color: #615048;
}

.button-brown:focus {
  background-color: #615048;
}

.button-brown:active {
  background-color: #756157;
}

.button-brown:disabled {
  background-color: #E5E5E5;
}

.button-transparent {
  background-color: rgba(0, 0, 0, 0);
}

.button-transparent:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-transparent:focus {
  background-color: rgba(0, 0, 0, 0);
  outline: 3px solid #82b3d3;
}

.button-transparent:disabled {
  color: rgba(255, 255, 255, 0.1);
}

.button-green {
  background-color: #7DB54F;
}

.button-green:hover {
  background-color: #6C9E42;
}

.button-green:focus {
  background-color: #6C9E42;
}

.button-green:active {
  background-color: #7DB54F;
}

.button-green:disabled {
  background-color: #E5E5E5;
}

.page-header {
  background-color: #ffffff;
  display: flex;
  padding: 0 70px;
}

.page-header-logo-link {
  width: 140px;
  margin: 0 44px 0 0;
  position: relative;
}

.page-header-logo {
  display: block;
  position: absolute;
  z-index: 1;
}

.navigation-list {
  max-width: 464px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
  color: #000000;
  text-decoration: none;
}

.navigation-link-current::before {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-item:not(:last-child) {
  margin-right: 32px;
}

.user-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 312px;
  margin-left: auto;
}

.search {
  width: 24px;
  height: 64px;
  margin-right: 19px;
  background-image: url("../images/svg/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
}


.favorites {
  position: relative;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  width: 36px;
  height: 64px;
  margin-right: 20px;
  background-image: url("../images/svg/heart.svg");
  background-repeat: no-repeat;
  background-position-x: 4px;
  background-position-y: center;
  background-size: 18px 17px;
}

.favorites::before {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 33px;
  right: 4px;
  border-radius: 50%;
  background-color: #7DB54F;
  content: "12";
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-menu-link.button {
  width: 160px;
  margin: 14px 0;
}

.main-index {
  background-color: #ffffff;
  flex-grow: 1;
}

.intro {
  background-color: rgba(131, 179, 211, 0.2);
  background-image: url("../images/background/index-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 51px 50px 82px 50px;
  position: relative;
}

.intro::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 57px;
  background-image: url("../images/svg/divider.svg");
  background-repeat: no-repeat;
}

.intro-image {
  display: block;
  margin: 0 auto;
}

.reasons {
  text-align: center;
  padding-top: 69px;
}

.reasons-title {
  width: 620px;
  margin: 0 auto 25px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.reasons-subtitle {
  width: 651px;
  margin: 0 auto 90px;
  color: #333333;
}

.reasons-card {
  display: flex;
  color: #ffffff;
  background-color: #82b3d3;
}

.reasons-card-content {
  width: 400px;
  padding: 92px 85px 111px;
}

.reasons-description-title {
  position: relative;
  width: 175px;
  margin: 0 auto 62px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.reasons-card-image {
  display: block;
}

.reasons-description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.reasons-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.reasons-item {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list .reasons-item {
  padding: 103px 85px 121px;
}

.advantages-list .reasons-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.recommendations-list .reasons-item {
  padding: 182px 85px 81px;
}

.recommendations-list .reasons-item:nth-child(even) {
  background-color: #ffffff;
}

.reasons-item .reasons-description {
  color: #333333;
}

.recommendations-list .reasons-description-title {
  margin: 0 auto 30px;
  position: relative;
}

.advantages-list .reasons-description-title::before {
  position: absolute;
  right: 58px;
  bottom: -30px;
  left: 57px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
}

.reasons-card-content .reasons-description-title::before {
  position: absolute;
  right: 58px;
  bottom: -30px;
  left: 57px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  content: "";
}

.housing::before {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -37px;
  top: -102px;
  width: 75px;
  height: 72px;
  background-image: url("../images/svg/housing.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
}

.eating::before {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -37px;
  top: -101px;
  width: 74px;
  height: 70px;
  background-image: url("../images/svg/eating.svg");
  background-repeat: no-repeat;
  background-size: 74px 70px;
}

.souvenir::before {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -32px;
  top: -104px;
  width: 64px;
  height: 76px;
  background-image: url("../images/svg/souvenir.svg");
  background-repeat: no-repeat;
  background-size: 64px 76px;
}

.interested {
  text-align: center;
  padding: 96px 304px;
}

.interested-title {
  margin: 0 0 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.interested-subtitle {
  margin: 0;
  color: #333333;
}

.interested-link {
  width: 376px;
  margin: 54px auto 0;
}

.subscribe {
  background-color: #82b3d3;
  background-image: url("../images/background/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  padding: 96px 258px 104px;
}

.subscribe-title {
  margin: 0 0 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-subtitle {
  margin: 0 104px;
}

.subscribe-form {
  margin-top: 54px;
  display: flex;
}

.email-field {
  width: 452px;
  border: none;
  margin: 0;
  padding: 14px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  background-color: #f2f2f2;
  color: #000000;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.subscribe-button {
  min-width: 232px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin: 0;
  padding: 0;
}

.page-footer {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 45px 70px 35px;
}

.footer-social-list {
  padding: 0;
  margin: 0 auto 0 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(5, auto);
}

.icon-button {
  position: relative;
  display: block;
  width: 47px;
  height: 40px;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83b3d3;
}

.social-icon:hover {
  fill: #68A2CA;
}

.social-icon:focus {
  fill: #68A2CA;
}

.social-icon:active {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-phone-number {
  max-width: 350px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.footer-phone-number:hover {
  color: #756157;
}

.footer-phone-number:focus {
  color: #756157;
}

.footer-phone-number:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-copyright-link {
  width: 115px;
  padding: 4px 0;
  margin-left: auto;
}

.copyright-svg {
  fill: #000000;
}

.copyright-svg:hover {
  fill: #756157;
}

.copyright-svg:focus {
  fill: #756157;
}

.copyright-svg:active {
  fill: rgba(117, 97, 87, 0.3);
}

.main-inner {
  background-color: #ffffff;
  flex-grow: 1;
}

.catalog-filter {
  padding: 35px 70px 73px;
  background-color: #82b3d3;
  background-image: url("../images/background/filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

.inner-header-title {
  margin: 0 0 8px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  text-align: left;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 40px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 29px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
}

.breadcrumbs-item::after {
  position: absolute;
  right: -18px;
  top: 6px;
  width: 7px;
  height: 10px;
  background-image: url("../images/svg/breadcrumbs.svg");
  background-repeat: no-repeat;
  background-size: 7px 10px;
  content: "";
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link {
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-link:not(.breadcrumbs-current-link):hover {
  color: rgba(255, 255, 255, 0.6)
}

.breadcrumbs-link:not(.breadcrumbs-current-link):focus {
  color: #ffffff;
}

.breadcrumbs-link:not(.breadcrumbs-current-link):active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-svg {
  fill: #ffffff;
}

.breadcrumbs-svg:hover {
  fill: rgba(255, 255, 255, 0.6)
}

.breadcrumbs-svg:focus {
  fill: #ffffff;
}

.breadcrumbs-svg:active {
  fill: rgba(255, 255, 255, 0.3);
}

.catalog-filter-form {
  display: flex;
}

.catalog-filter-infrastructure {
  width: 151px;
  margin: 0 70px 0 0;
  padding: 0;
  border: none;
}

.catalog-filter-housing {
  width: 160px;
  margin: 0 126px 0 0;
  padding: 0;
  border: none;
}

.catalog-filter-price {
  width: 288px;
  margin: 0 70px 0 0;
  padding: 0;
  border: none;
}

.catalog-filter-buttons {
  width: 191px;
  margin-bottom: 5px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
  padding: 0;
  margin-bottom: 32px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 16px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.label-price {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: right;
  color: #000000;
}

.input-price {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
  color: #000000;
  border: none;
  padding: 0;
}

.price-from {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.price-to {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.catalog-filter-range {
  margin: 48px 0 5px;
}

.catalog-filter-buttons {
  align-self: end;
}

.catalog-button-submit {
  width: 191px;
  padding: 0;
  border: none;
  margin-bottom: 40px;
}

.catalog-button-reset {
  width: 191px;
  padding: 0;
  border: none;
}

.catalog-sort {
  padding: 50px 70px 40px;
  display: flex;
  align-items: center;
}

.hotels-found {
  min-width: 338px;
  margin: 0 70px 0 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

.select-wrapper {
  position: relative;
  width: 292px;
  height: 49px;
  margin: 0 70px 0 auto;
  align-self: flex-start;
}

.select-control {
  appearance: none;
  width: 292px;
  padding: 14px 53px 14px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
  color: #333333;
  outline: 2px solid #e5e5e5;
  border-radius: 4px;
  border: none;
}

.select-control:hover {
  outline: 2px solid #68A2CA;
}

.select-control:focus {
  outline: 2px solid #68A2CA;
}

.select-control:active {
  outline: 2px solid #3F5E72;
}

.select-control:disabled {
  outline: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.select-svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 260px;
  margin: auto 0;
  fill: #000000;
}

.select-control:disabled + .select-svg {
  fill: rgba(0, 0, 0, 0.3);
}

.hotel-card-view-list {
  width: 160px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 8px;
}

.view-button {
  display: block;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
}

.view-button:hover {
  border-color: #000000;
}

.view-button:focus {
  border-color: #68A2CA;
}

.view-button:active {
  border-color: #000000;
}

.button-cards {
  background-image: url("../images/svg/tile.svg");
}

.button-opened-card {
  background-image: url("../images/svg/slideshow.svg");
}

.button-list {
  background-image: url("../images/svg/list.svg");
}

.catalog-list {
  padding: 0 70px 60px;
}

.hotel-list {
  margin: 0 0 80px;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
}

.hotel-card {
  outline: 1px solid #e6e6e6;
  padding: 20px;
  border-radius: 4px;
  display: grid;
  grid-template-rows: 212px min-content auto min-content min-content;
  grid-template-columns: repeat(2, 140px);
  gap: 16px 20px;
}

.hotel-card-image-link {
  grid-column: 1 / -1;
}

.hotel-card-title-link {
  text-decoration: none;
  grid-column: 1 / -1;
}

.hotel-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hotel-card-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-align: left;
}

.hotel-card-type {
  display: block;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: left;
}

.hotel-card-price {
  display: block;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: right;
}

.hotel-card-stars {
  height: 37px;
  background-repeat: no-repeat;
  background-size: 18px 17px;
  pointer-events: none;
}

.four-stars {
  background-image: url("../images/svg/star.svg"), url("../images/svg/star.svg"), url("../images/svg/star.svg"), url("../images/svg/star.svg");
  background-position: left center, 24px center, 48px center, 72px center;
}

.three-stars {
  background-image: url("../images/svg/star.svg"), url("../images/svg/star.svg"), url("../images/svg/star.svg");
  background-position: left center, 24px center, 48px center;
}

.two-stars {
  background-image: url("../images/svg/star.svg"), url("../images/svg/star.svg");
  background-position: left center, 24px center;
}

.hotel-card-rating {
  display: block;
  min-height: 37px;
  background-color: #f2f2f2;
  color: #333333;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  border-radius: 4px;
  padding: 9px 22px 8px 23px;
}

.pagination {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.pagination-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #82b3d3;
  border-radius: 4px;
}

.pagination-item:not(.pagination-current-item, .pagination-item-space):hover {
  background-color: #68A2CA;
}

.pagination-item:not(.pagination-current-item, .pagination-item-space):focus {
  background-color: #68A2CA;
}

.pagination-item:not(.pagination-current-item, .pagination-item-space):active {
  background-color: #82b3d3;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-current-item {
  background-color: #f2f2f2;
}

.pagination-item-space {
  background-color: #ffffff;
}

.pagination-link {
  display: block;
  margin: auto;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
}

.pagination-link:not(.pagination-current-link, .pagination-space):active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current-link {
  color: #000000;
}

.pagination-space {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
}

.subscribe-catalog {
  text-align: center;
  padding: 96px 258px 104px;
}

.subscribe-catalog .subscribe-subtitle {
  color: #333333;
}
